script(src='//code.jquery.com/jquery-1.9.1.js')

// SCR---IPTS
script(src="/javascripts/plugin/bootstrap.js")
script(src="/javascripts/plugin/sweetalert.min.js")
script(src='/javascripts/plugin/jquery-sortable-min.js')
script(src="/javascripts/plugin/cbpAnimatedHeader-product.js")
script(src="/javascripts/plugin/cbpAnimatedHeader.js")
script(src="/javascripts/plugin/cbpScroller.js")
script(src="/javascripts/plugin/classie.js")
script(src="/javascripts/plugin/input-number.js")
script(src="/javascripts/plugin/jasny-bootstrap.js")
script(src="/javascripts/plugin/modernizr.custom.js")
script(src="/javascripts/plugin/notifyme.js")
script(src="/javascripts/plugin/scrolltotop.js")
script(src="/javascripts/plugin/tagsinput.js")
script(src="/javascripts/plugin/uisearch.js")
script(src="/javascripts/admin/sidebar.js")

// SCR---IPTS END

// fade out
script(type='text/javascript').
  $(window).load(function() {
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
  });
